input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="MiddleName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="EmailId" type="xs:string" />
        <xs:element name="Mobile" type="xs:integer" />
        <xs:element name="Address">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="5" />
              <xs:maxLength value="100" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Car">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Audi" />
              <xs:enumeration value="Golf" />
              <xs:enumeration value="BMW" />
              <xs:enumeration value="Renault" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
